.add-message {
  bottom: em(40px);
  display: flex;
  justify-content: center;
  font-family: Noto-sans;
  position: absolute;
  animation: move-in 0.5s none;
  transition: 0.2s;

  .actions-container {
    margin-left: 4.6875em;
    input {
      min-width: 76.5vw;
      padding: em(17px) 0 em(17px) em(17px);
      background-color: $input-background;
      border-radius: 8px;
      border: none;
      outline: transparent solid 2px;
      font-size: em(14px);
      font-family: Noto-sans;
      transition: outline 0.2s;
      color: white;
      &:focus {
        outline: #0079bf solid 2px;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px $input-background inset !important;
        box-shadow: 0 0 0 30px $input-background inset !important;
        -webkit-text-fill-color: white;
      }
    }
    button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: em(42.34px);
      margin: em(8px);
      border-radius: em(8px);
      border: none;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.104);
      color: $light-color;
      background-color: $send-button-background;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: $send-button-background-hover;
      }
    }
  }
}

@keyframes move-in {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
